/* -- BUTTONS.CSS -- */

/* apply relevant theme/style colors */

.button,
.hbspt-form input:where([type='submit']) {
    background-color: var(--color-heading);
    color: var(--color-bg);
    position: relative;
    display: inline-block;
    padding: 0.75em 1.5em;
    flex: 0 0 auto;
    transition: transform 200ms ease, opacity 200ms ease;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
}

.button.button--outline {
    background-color: transparent;
    color: var(--color-heading);
    box-shadow: inset 0 0 0 2px var(--color-heading);
}

.button.button--accent,
.button.button--nav {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.button.button--accent-outline {
    background-color: transparent;
    color: var(--color-accent);
    box-shadow: inset 0 0 0 2px var(--color-accent);
}

/* darken button on hover */
/* TODO inputs dont support psuedo elements, so this doesn't work for HS buttons */
.button:hover::after {
    opacity: 1;
}
.button::after {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    inset: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease;
}
