/* -- COLORS.CSS -- */

/* - Color values - */
:root {
    --magenta: #ff00ff;
    --white: #ffffff;
    --black: #000000;
    --navy-010: #e6e9eb;
    --navy-020: #ccd3d7;
    --navy-040: #99a8af;
    --navy-060: #667d87;
    --navy-080: #33525f;
    --navy-100: #002637;
    --navy-120: #001e2c;
    --navy-140: #001721;
    --navy-160: #000f16;
    --navy-180: #00080b;
    --sand-060: #fff8ec;
    --sand-100: #fff4e0;
    --sand-110: #e6dcca;
    --sand-120: #ccc3b3;
    --sand-140: #999286;
    --sand-160: #66625a;
    --sand-180: #33312d;
    --slate-010: #eff0f0;
    --slate-020: #d5d7d8;
    --slate-040: #b9bec1;
    --slate-060: #808d93;
    --slate-080: #65747b;
    --slate-100: #4c5b61;
    --slate-120: #364045;
    --slate-140: #1f2528;
    --slate-160: #090b0b;
    --coral-010: #fdeeef;
    --coral-020: #fbdcde;
    --coral-040: #f6b9bd;
    --coral-060: #f2969c;
    --coral-080: #ed737b;
    --coral-100: #e9505a;
    --coral-120: #ba4048;
    --coral-140: #8c3036;
    --coral-160: #5d2024;
    --coral-180: #2f1012;

    /* basic aliases for key colors */
    --navy: var(--navy-100);
    --sand: var(--sand-100);
    --coral: var(--coral-100);
    --slate: var(--slate-100);
}

/* - Themes - */

/* primary - also default */
:root,
.theme-primary {
    /* dark */
    --color-dark-bg: var(--navy);
    --color-dark-heading: var(--sand);
    --color-dark-text: var(--white);
    --color-dark-accent: var(--coral);

    /* light */
    --color-light-bg: var(--sand);
    --color-light-heading: var(--navy);
    --color-light-text: var(--navy);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--navy-010);
    --color-pale-heading: var(--navy);
    --color-pale-text: var(--navy);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--navy);
    --color-stark-text: var(--navy);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--coral);
    --color-loud-heading: var(--sand);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--navy);
}
/* secondary */
.theme-secondary {
    /* dark */
    --color-dark-bg: var(--coral);
    --color-dark-heading: var(--sand);
    --color-dark-text: var(--white);
    --color-dark-accent: var(--navy-120);

    /* light */
    --color-light-bg: var(--sand);
    --color-light-heading: var(--coral);
    --color-light-text: var(--navy);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--coral-020);
    --color-pale-heading: var(--navy);
    --color-pale-text: var(--navy);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--coral);
    --color-stark-text: var(--navy);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--navy-120);
    --color-loud-heading: var(--coral);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--coral);
}
/* tertiary */
.theme-tertiary {
    /* dark */
    --color-dark-bg: var(--navy-140);
    --color-dark-heading: var(--white);
    --color-dark-text: var(--white);
    --color-dark-accent: var(--coral);

    /* light */
    --color-light-bg: var(--navy-010);
    --color-light-heading: var(--navy);
    --color-light-text: var(--navy);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--navy-040);
    --color-pale-heading: var(--navy);
    --color-pale-text: var(--navy);
    --color-pale-accent: var(--white);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--navy);
    --color-stark-text: var(--navy);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--coral);
    --color-loud-heading: var(--white);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--navy-160);
}
/* monotone */
.theme-monotone {
    /* dark */
    --color-dark-bg: var(--slate-140);
    --color-dark-heading: var(--slate-010);
    --color-dark-text: var(--slate-010);
    --color-dark-accent: var(--coral);

    /* light */
    --color-light-bg: var(--slate-010);
    --color-light-heading: var(--slate-160);
    --color-light-text: var(--slate-160);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--slate-040);
    --color-pale-heading: var(--slate-160);
    --color-pale-text: var(--slate-160);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--slate-160);
    --color-stark-text: var(--slate-160);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--coral);
    --color-loud-heading: var(--white);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--slate-140);
}

/* - Styles - */

/* dark */
.style-dark {
    --color-bg: var(--color-dark-bg);
    --color-heading: var(--color-dark-heading);
    --color-text: var(--color-dark-text);
    --color-accent: var(--color-dark-accent);
}
/* light */
.style-light {
    --color-bg: var(--color-light-bg);
    --color-heading: var(--color-light-heading);
    --color-text: var(--color-light-text);
    --color-accent: var(--color-light-accent);
}
/* pale */
.style-pale {
    --color-bg: var(--color-pale-bg);
    --color-heading: var(--color-pale-heading);
    --color-text: var(--color-pale-text);
    --color-accent: var(--color-pale-accent);
}
/* stark - also default */
:root,
.style-stark {
    --color-bg: var(--color-stark-bg);
    --color-heading: var(--color-stark-heading);
    --color-text: var(--color-stark-text);
    --color-accent: var(--color-stark-accent);
}
/* loud */
.style-loud {
    --color-bg: var(--color-loud-bg);
    --color-heading: var(--color-loud-heading);
    --color-text: var(--color-loud-text);
    --color-accent: var(--color-loud-accent);
}

/* Implement themes and styles - */

/* apply text and bg color to all themed and styled elements */
.style-dark,
.style-light,
.style-stark,
.style-loud,
.style-pale,
.theme-primary,
.theme-secondary,
.theme-tertiary,
.theme-monotone {
    /* color will cascade to descendents */
    color: var(--color-text);
    /* bg color does not cascade */
    background-color: var(--color-bg);
}

/* default heading color */
h1,
h2,
h3,
h4,
h5,
h6,
[class^='heading-'] {
    color: var(--color-heading);
}

a,
.text-style-link {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
}
