/* Colors */
:root {
    --magenta: #FF00FF;
    --white: #FFFFFF;
    --black: #000000;
    --navy-010: #E6E9EB;
    --navy-020: #CCD3D7;
    --navy-040: #99A8AF;
    --navy-060: #667D87;
    --navy-080: #33525F;
    --navy-100: #002637;
    --navy-120: #001E2C;
    --navy-140: #001721;
    --navy-160: #000F16;
    --navy-180: #00080B;
    --sand-060: #FFF8EC;
    --sand-100: #FFF4E0;
    --sand-110: #E6DCCA;
    --sand-120: #CCC3B3;
    --sand-140: #999286;
    --sand-160: #66625A;
    --sand-180: #33312D;
    --slate-010: #EFF0F0;
    --slate-020: #D5D7D8;
    --slate-040: #B9BEC1;
    --slate-060: #808D93;
    --slate-080: #65747B;
    --slate-100: #4C5B61;
    --slate-120: #364045;
    --slate-140: #1F2528;
    --slate-160: #090B0B;
    --coral-010: #FDEEEF;
    --coral-020: #FBDCDE;
    --coral-040: #F6B9BD;
    --coral-060: #F2969C;
    --coral-080: #ED737B;
    --coral-100: #E9505A;
    --coral-120: #BA4048;
    --coral-140: #8C3036;
    --coral-160: #5D2024;
    --coral-180: #2F1012;
    
    /* basic aliases for key colors */
    --navy: var(--navy-100);
    --sand: var(--sand-100);
    --coral: var(--coral-100);
    --slate: var(--slate-100);
}

/* themes */

/* default and primary */
:root, .theme-primary { 

    /* dark */
    --color-dark-bg: var(--navy);
    --color-dark-heading: var(--sand);
    --color-dark-text: var(--white);
    --color-dark-accent: var(--coral);

    /* light */
    --color-light-bg: var(--sand);
    --color-light-heading: var(--navy);
    --color-light-text: var(--navy);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--navy-010);
    --color-pale-heading: var(--navy);
    --color-pale-text: var(--navy);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--navy);
    --color-stark-text: var(--navy);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--coral);
    --color-loud-heading: var(--sand);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--navy);

}

/* secondary */
.theme-secondary {
    
    /* dark */
    --color-dark-bg: var(--coral);
    --color-dark-heading: var(--sand);
    --color-dark-text: var(--white);
    --color-dark-accent: var(--navy-120);

    /* light */
    --color-light-bg: var(--sand);
    --color-light-heading: var(--coral);
    --color-light-text: var(--navy);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--coral-020);
    --color-pale-heading: var(--navy);
    --color-pale-text: var(--navy);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--coral);
    --color-stark-text: var(--navy);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--navy-120);
    --color-loud-heading: var(--coral);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--coral);

}

/* tertiary */
.theme-tertiary {
    
    /* dark */
    --color-dark-bg: var(--navy-140);
    --color-dark-heading: var(--white);
    --color-dark-text: var(--white);
    --color-dark-accent: var(--coral);

    /* light */
    --color-light-bg: var(--navy-040);
    --color-light-heading: var(--navy);
    --color-light-text: var(--navy);
    --color-light-accent: var(--white);

    /* pale */
    --color-pale-bg: var(--navy-010);
    --color-pale-heading: var(--navy);
    --color-pale-text: var(--navy);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--navy);
    --color-stark-text: var(--navy);
    --color-stark-accent: var(--coral);

    /* loud */
    --color-loud-bg: var(--coral);
    --color-loud-heading: var(--white);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--navy-160);
}

/* monotone */
.theme-monotone {
    
    /* dark */
    --color-dark-bg: var(--slate-140);
    --color-dark-heading: var(--slate-010);
    --color-dark-text: var(--slate-010);
    --color-dark-accent: var(--coral);

    /* light */
    --color-light-bg: var(--slate-040);
    --color-light-heading: var(--slate-160);
    --color-light-text: var(--slate-160);
    --color-light-accent: var(--coral);

    /* pale */
    --color-pale-bg: var(--slate-010);
    --color-pale-heading: var(--slate-160);
    --color-pale-text: var(--slate-160);
    --color-pale-accent: var(--coral);

    /* stark */
    --color-stark-bg: var(--white);
    --color-stark-heading: var(--slate-160);
    --color-stark-text: var(--slate-160);
    --color-stark-accent: var(--coral);
    
    /* loud */
    --color-loud-bg: var(--coral);
    --color-loud-heading: var(--white);
    --color-loud-text: var(--white);
    --color-loud-accent: var(--slate-140);
}

/* styles */

/* dark */
.style-dark {
	--color-bg: var(--color-dark-bg);
    --color-heading: var(--color-dark-heading);
    --color-text: var(--color-dark-text);
    --color-accent: var(--color-dark-accent);
}

/* light */
.style-light {
	--color-bg: var(--color-light-bg);
    --color-heading: var(--color-light-heading);
    --color-text: var(--color-light-text);
    --color-accent: var(--color-light-accent);
}

/* pale */
.style-pale {
	--color-bg: var(--color-pale-bg);
    --color-heading: var(--color-pale-heading);
    --color-text: var(--color-pale-text);
    --color-accent: var(--color-pale-accent);
}

/* default and stark */
:root, .style-stark {
	--color-bg: var(--color-stark-bg);
    --color-heading: var(--color-stark-heading);
    --color-text: var(--color-stark-text);
    --color-accent: var(--color-stark-accent);
}

/* loud */
.style-loud {
	--color-bg: var(--color-loud-bg);
    --color-heading: var(--color-loud-heading);
    --color-text: var(--color-loud-text);
    --color-accent: var(--color-loud-accent);
}




/* text colors */

/* TO DO - REVIEW ABSTRACTIONS */

/* accent color is defined by theme/style */
.text-color-accent {
	color: var(--color-accent);
}
/* primary color defined by theme/style, and is theme/style heading */
.text-color-primary {
    color: var(--color-heading);
}


/* standard text color styles */

.text-color-magenta {
    color: var(--magenta);
}
.text-color-white {
    color: var(--white);
}
.text-color-black {
    color: var(--black);
}
.text-color-navy-010 {
    color: var(--navy-010);
}
.text-color-navy-020 {
    color: var(--navy-020);
}
.text-color-navy-040 {
    color: var(--navy-040);
}
.text-color-navy-060 {
    color: var(--navy-060);
}
.text-color-navy-080 {
    color: var(--navy-080);
}
.text-color-navy-100 {
    color: var(--navy-100);
}
.text-color-navy-120 {
    color: var(--navy-120);
}
.text-color-navy-140 {
    color: var(--navy-140);
}
.text-color-navy-160 {
    color: var(--navy-160);
}
.text-color-navy-180 {
    color: var(--navy-180);
}
.text-color-sand-060 {
    color: var(--sand-060);
}
.text-color-sand-100 {
    color: var(--sand-100);
}
.text-color-sand-110 {
    color: var(--sand-110);
}
.text-color-sand-120 {
    color: var(--sand-120);
}
.text-color-sand-140 {
    color: var(--sand-140);
}
.text-color-sand-160 {
    color: var(--sand-160);
}
.text-color-sand-180 {
    color: var(--sand-180);
}
.text-color-slate-010 {
    color: var(--slate-010);
}
.text-color-slate-020 {
    color: var(--slate-020);
}
.text-color-slate-040 {
    color: var(--slate-040);
}
.text-color-slate-060 {
    color: var(--slate-060);
}
.text-color-slate-080 {
    color: var(--slate-080);
}
.text-color-slate-100 {
    color: var(--slate-100);
}
.text-color-slate-120 {
    color: var(--slate-120);
}
.text-color-slate-140 {
    color: var(--slate-140);
}
.text-color-slate-160 {
    color: var(--slate-160);
}
.text-color-coral-010 {
    color: var(--coral-010);
}
.text-color-coral-020 {
    color: var(--coral-020);
}
.text-color-coral-040 {
    color: var(--coral-040);
}
.text-color-coral-060 {
    color: var(--coral-060);
}
.text-color-coral-080 {
    color: var(--coral-080);
}
.text-color-coral-100 {
    color: var(--coral-100);
}
.text-color-coral-120 {
    color: var(--coral-120);
}
.text-color-coral-140 {
    color: var(--coral-140);
}
.text-color-coral-160 {
    color: var(--coral-160);
}
.text-color-coral-180 {
    color: var(--coral-180);
}

/* background colors */

.bg-color-magenta {
    background-color: var(--magenta);
}
.bg-color-white {
    background-color: var(--white);
}
.bg-color-black {
    background-color: var(--black);
}
.bg-color-navy-010 {
    background-color: var(--navy-010);
}
.bg-color-navy-020 {
    background-color: var(--navy-020);
}
.bg-color-navy-040 {
    background-color: var(--navy-040);
}
.bg-color-navy-060 {
    background-color: var(--navy-060);
}
.bg-color-navy-080 {
    background-color: var(--navy-080);
}
.bg-color-navy-100 {
    background-color: var(--navy-100);
}
.bg-color-navy-120 {
    background-color: var(--navy-120);
}
.bg-color-navy-140 {
    background-color: var(--navy-140);
}
.bg-color-navy-160 {
    background-color: var(--navy-160);
}
.bg-color-navy-180 {
    background-color: var(--navy-180);
}
.bg-color-sand-060 {
    background-color: var(--sand-060);
}
.bg-color-sand-100 {
    background-color: var(--sand-100);
}
.bg-color-sand-110 {
    background-color: var(--sand-110);
}
.bg-color-sand-120 {
    background-color: var(--sand-120);
}
.bg-color-sand-140 {
    background-color: var(--sand-140);
}
.bg-color-sand-160 {
    background-color: var(--sand-160);
}
.bg-color-sand-180 {
    background-color: var(--sand-180);
}
.bg-color-slate-010 {
    background-color: var(--slate-010);
}
.bg-color-slate-020 {
    background-color: var(--slate-020);
}
.bg-color-slate-040 {
    background-color: var(--slate-040);
}
.bg-color-slate-060 {
    background-color: var(--slate-060);
}
.bg-color-slate-080 {
    background-color: var(--slate-080);
}
.bg-color-slate-100 {
    background-color: var(--slate-100);
}
.bg-color-slate-120 {
    background-color: var(--slate-120);
}
.bg-color-slate-140 {
    background-color: var(--slate-140);
}
.bg-color-slate-160 {
    background-color: var(--slate-160);
}
.bg-color-coral-010 {
    background-color: var(--coral-010);
}
.bg-color-coral-020 {
    background-color: var(--coral-020);
}
.bg-color-coral-040 {
    background-color: var(--coral-040);
}
.bg-color-coral-060 {
    background-color: var(--coral-060);
}
.bg-color-coral-080 {
    background-color: var(--coral-080);
}
.bg-color-coral-100 {
    background-color: var(--coral-100);
}
.bg-color-coral-120 {
    background-color: var(--coral-120);
}
.bg-color-coral-140 {
    background-color: var(--coral-140);
}
.bg-color-coral-160 {
    background-color: var(--coral-160);
}
.bg-color-coral-180 {
    background-color: var(--coral-180);
}

