/* -- FORMS.CSS -- */

/* colors */

:root {
    --form-control-color: var(--color-accent);
}

.form-message {
    color: var(--color-text);
}
.form-message[data-form-response='error'] {
    color: var(--color-accent);
}

/* general form styling */
/* https://moderncss.dev/pure-css-custom-checkbox-style/ */

/* previous styling, pretty opinionated, focused on HS styling */

/* Legacy brand colours */
:root {
    --awaw-darkblue: #0b4a65;
    --awaw-blue: #04798f;
    --awaw-gold: #e1b636;
    --awaw-yellow: #ffd91c;
    --awaw-midgrey: #444444;
    --awaw-grey: #999999;
    --awaw-green: #85b200;
    --awaw-orange: #ff8800;
    --awaw-fadedorange: #f5e8be;
    --awaw-lightgrey: #ededed;

    --tamarindo-darkblue: #242b61;
    --tamarindo-midblue: #4fa3db;
    --tamarindo-darkgrey: #092c3c;
    --tamarindo-midgrey: #8f9193;
    --tamarindo-lightgrey: #c8cad4;
    --tamarindo-verylightgrey: #eff1f6;
    --tamarindo-white: #ffffff;
    --tamarindo-red: #ea6556;
    --tamarindodesign-darkblue: #1a1a3f;
}

/* Form colours*/
:root {
    --color-alert: #e5d913;
    /* --form-color-text: var(--color-text);
        --form-color-bg: var(--color-bg);
        --form-color-alert: var(--color-accent);
        --form-color-input-bg:var(--color-bg);
        --form-color-input-border: var(--color-text);
        --form-color-input-text: var(--color-text);
        --form-color-link: var(--color-accent);
        --form-color-button-bg: var(--color-accent);
        --form-color-button-text: var(--color-bg); */
}

/* Hubspot form styling. 
Based on https://github.com/HubSpot/cms-theme-boilerplate/blob/master/src/css/elements/_forms.css */

/* Spacing */
:is(
        .hbspt-form form,
        .hbspt-form .hs-richtext,
        .hbspt-form .inputs-list,
        .hbspt-form .legal-consent-container,
        .hbspt-form .hs-form-field,
        .hbspt-form .submitted-message
    )
    > *
    + * {
    margin-top: var(--flow-space, 1em);
    --flow-space: 1em;
}
.hbspt-form .hs-form-field,
.hbspt-form .legal-consent-container {
    --flow-space: 1.5em !important; /* more spacing between major elements */
}
.hbspt-form .inputs-list li {
    --flow-space: 0.5em !important; /* less spacing between list elements */
}
.hbspt-form .legal-consent-container > :not([class]) {
    --flow-space: 0.25em !important; /* less spacing between checkboxes in GDPR */
}
.hbspt-form .hs-form-field > * {
    --flow-space: 0.5em !important; /* less spacing inside form fields */
}

/* Field titles */
.hbspt-form label {
    font-weight: 500;
    display: block; /* is this needed? */
    font-size: var(--step-0);
}

/* Field descriptions */
.hbspt-form legend {
    font-size: var(--step--1);
    margin-bottom: 0.5rem;
}
.hs-field-desc {
    /* NB - I think this is the same as legend */
}

/* Inputs */
.hbspt-form input[type='text'],
.hbspt-form input[type='password'],
.hbspt-form input[type='datetime'],
.hbspt-form input[type='datetime-local'],
.hbspt-form input[type='date'],
.hbspt-form input[type='month'],
.hbspt-form input[type='time'],
.hbspt-form input[type='week'],
.hbspt-form input[type='number'],
.hbspt-form input[type='email'],
.hbspt-form input[type='url'],
.hbspt-form input[type='search'],
.hbspt-form input[type='tel'],
.hbspt-form input[type='color'],
.hbspt-form input[type='file'],
.hbspt-form textarea,
.hbspt-form select {
    color: var(--color-stark-text);
    background-color: var(--color-stark-bg);
    border: 2px solid;
    border-radius: 3px;
    border-color: var(--color-text);
    display: inline-block;
    font-size: var(--step-0);
    padding: 0.7rem;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

/* Inputs in focus */
.hbspt-form input[type='text']:focus,
.hbspt-form input[type='password']:focus,
.hbspt-form input[type='datetime']:focus,
.hbspt-form input[type='datetime-local']:focus,
.hbspt-form input[type='date']:focus,
.hbspt-form input[type='month']:focus,
.hbspt-form input[type='time']:focus,
.hbspt-form input[type='week']:focus,
.hbspt-form input[type='number']:focus,
.hbspt-form input[type='email']:focus,
.hbspt-form input[type='url']:focus,
.hbspt-form input[type='search']:focus,
.hbspt-form input[type='tel']:focus,
.hbspt-form input[type='color']:focus,
.hbspt-form input[type='file']:focus,
.hbspt-form textarea:focus,
.hbspt-form select:focus {
    /* outline: none; */
    /* box-shadow: 0 0 0 3px var(--color-alert); */ /* TODO - update focus styles */
}

.hbspt-form fieldset {
    max-width: 100% !important;
}

/* Inputs - checkbox/radio */
.hbspt-form .inputs-list {
    margin-inline: 0;
    padding: 0;
    list-style: none;
}
.hbspt-form .inputs-list > li {
    display: block;
    margin-inline: 0;
}
.hbspt-form .inputs-list input,
.hbspt-form .inputs-list span {
    vertical-align: middle;
}
.hbspt-form input[type='checkbox'],
.hbspt-form input[type='radio'] {
    cursor: pointer;
    margin-right: 0.35rem;
    width: 1rem;
    height: 1rem;
    flex: 0 0 auto;
}
.hbspt-form .hs-form-booleancheckbox label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Inputs - datepicker */
.hbspt-form .hs-dateinput {
    position: relative;
}
.hbspt-form .hs-dateinput:before {
    content: '\01F4C5';
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.fn-date-picker .pika-table thead th {
    color: var(--color-bg);
}
.fn-date-picker td.is-selected .pika-button {
    border-radius: 0;
    box-shadow: none;
}
.fn-date-picker td .pika-button:hover,
.fn-date-picker td .pika-button:focus {
    border-radius: 0 !important;
    color: var(--color-bg);
}

/* Inputs - file picker */
.hbspt-form input[type='file'] {
    background-color: transparent;
    border: initial;
    padding: initial;
}

/* Headings and text */
.hbspt-form {
    font-size: var(--step-0);
    color: var(--color-text);
}
.hbspt-form .hs-richtext a {
    color: var(--color-accent);
    text-decoration: underline;
}
.hbspt-form .hs-richtext img {
    max-width: 100% !important;
}

/* GDPR */
.hbspt-form .legal-consent-container .hs-richtext {
    font-size: var(--step--1);
    opacity: 0.6; /* muted */
}

.hbspt-form .legal-consent-container .hs-form-booleancheckbox-display > span,
.hbspt-form .legal-consent-container .hs-form-booleancheckbox-display > span p {
    /* margin-left: 1rem !important; */ /* removed as causing duplicate margin when span inside p */
    /* font-size: var(--step--1); */
    /* font-weight: 400; */
    /* line-height: 1; */
}
.hbspt-form .legal-consent-container .hs-form-booleancheckbox-display > span {
    margin-left: 1em;
}

/* Validation */
.hbspt-form .hs-form-required,
.hbspt-form .hs-input.invalid.error,
.hbspt-form .hs-error-msg,
.hbspt-form .hs-error-msgs label,
.hbspt-form .legal-consent-container .hs-error-msgs label {
    color: var(--color-accent);
    font-size: var(--step--1);
    font-weight: 500;
    /* margin-top: 0.35rem; */
}

/* Submit button */

/* inclusion of :not() is a temporary patch so member report access button on AWAW is styled same as rest of AWAW site */

/* .hbspt-form input[type='submit']:not(.x-btn):not(.button--override),
.hbspt-form input[type='button']:not(.x-btn):not(.button--override),
.hbspt-form .hs-button:not(.x-btn) {
    display: inline-block;
    align-items: center;
    border: none;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-bg);
    padding: 14px 30px 16px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
} */

/* Success message */

/* NB no longer inside form element so use hbspt-form to target more accurately */
.hbspt-form div.submitted-message p {
    color: var(--color-text);
}
.hbspt-form div.submitted-message a {
    color: var(--color-accent);
    text-decoration: underline;
}

/* Captcha */
.grecaptcha-badge {
    margin: 10px;
    display: none;
}

/* fix styling on iOS */
form textarea,
form input.text,
form input[type='text'],
form input[type='button'],
form input[type='submit'],
form input[type='email'],
form input[type='tel'],
form select {
    -webkit-appearance: none;
}
/*we should also have input[type="checkbox"] but this causes the checkbox 
  to be near invisible on the grey non-member form on FW.com on ios*/

/* search */
form input.search-input {
    border-color: transparent;
}
