/* -- GRID.CSS -- */
/* -- GRID.CSS -- */

/* Fluid grid from Utopia */
/* @link https://utopia.fyi/grid/calculator?c=320,16,1.125,1272,16,1.25,6,3,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6|8|12,s-l&g=s,l,xl,12 */

/* updated calc to run from 320px to 1280px instead of default 992px in Utopia */
:root {
    --grid-max-width: 80rem;
    --grid-gutter: var(--space-s-l, clamp(1rem, calc(0.67rem + 1.67vw), 2rem));
    --grid-columns: 12;
}

.wrapper {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter); /* left and right padding */
    /* margin-inline: auto; */ /* set in WF */
}

.grid {
    /* display: grid; */ /* set in WF */
    gap: var(--grid-gutter);
}
