.l-grid-3up {
    /* styles set in WF */
}

.l-grid-4up {
    /* styles set in WF */
}

.l-flex-col {
    /* styles set in WF */
}

.l-gap-l {
    gap: var(--space-l);
}
.l-gap-m {
    gap: var(--space-m);
}
.l-gap-s {
    gap: var(--space-s);
}
.l-gap-xs {
    gap: var(--space-xs);
}
.l-gap-ch {
    gap: 0.55ch;
}
.l-gap-row-xl {
    row-gap: var(--space-xl);
}
.l-gap-row-m {
    row-gap: var(--space-m);
}
.l-gap-row-s {
    row-gap: var(--space-s);
}
.l-gap-col-s {
    column-gap: var(--space-s);
}
.l-gap-none {
    gap: 0px;
}

.row {
    margin-inline: calc(-0.5 * var(--grid-gutter));
}
.col {
    padding-inline: calc(0.5 * var(--grid-gutter));
}
