.l-grid-3up {
    /* styles set in WF */
}

.l-grid-4up {
    /* styles set in WF */
}

.l-flex-col {
    /* styles set in WF */
}

.l-gap-l {
    gap: var(--space-l);
}
.l-gap-m {
    gap: var(--space-m);
}
.l-gap-s {
    gap: var(--space-s);
}
.l-gap-row-xl {
    row-gap: var(--space-xl);
}
.l-gap-row-m {
    row-gap: var(--space-m);
}


