/* -- LINKS.CSS -- */

.button {
  background-color: var(--color-heading);
  border-color: var(--color-heading);
  color: var(--color-bg);
}

.button.button--outline {
  background-color: transparent;
  border-color: var(--color-heading);
  color: var(--color-heading);
}

.button.button--accent,
.button.button--nav {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-bg);
}

.button.button--accent-outline {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
}



		/* hide empty buttons with no text content when NOT in Designer or Editor */
    /* buttons are then still editable in Designer / Editor */
    /* exclude buttons with a type attribute so we don't hide form buttons */
    /* EDIT - it turns out that empty button elements are NOT editable in the Editor. Gah. So we're hiding these in the Editor too, and they can only be modified in the Designer */
		/*html:not(.wf-design-mode):not(.w-editor) .button:not([type]):empty {*/
    /* html:not(.wf-design-mode) .button:not([type]):empty {
    		display: none;
  	} */
    
    /* fake rich text buttons */
    /* .rich-button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        flex-gap: 1rem;
        grid-gap: 1rem;
        border: none;
        padding: 0px;
    }
    .rich-button > p > a {
    		color: inherit !important;
        padding: 0.78em 2.11em;
    		justify-content: center;
    		align-items: center;
    		border-style: solid;
    		border-width: 2px;
    		border-color: var();
	    	border-radius: 1em;
        transition-property: transform, border-color, color, background-color;
    		transition-duration: 200ms, 200ms, 200ms, 200ms;
    		transition-timing-function: ease, ease, ease, ease;
    		color: var();
    		font-size: 1.125rem;
    		line-height: 1;
    		font-weight: 700;
    		text-align: center;
    		letter-spacing: -0.01em;
    		text-decoration: none;
    		cursor: pointer;
        display: block;
    }
    .rich-button > p {
        --flow-space: 0em !important;
    }
    .rich-button:before {
    		content: "";
        display: none;
  	} */

	
