/* -- RESET.CSS -- */

	/* based on Andy Bell and Josh Comeau's resets
  https://piccalil.li/blog/a-modern-css-reset/
  https://www.joshwcomeau.com/css/custom-css-reset/
  */

  *, *::before, *::after {
      box-sizing: border-box;
    }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  dl,
  dd,
  img,
  li,
  ul,
  ol {
      margin: 0;
      /* font-size: 1rem;  */
      /* set consistent "flow" spacing for all elements - see the utilities section for more details */
      /* edit - no longer setting font size here as it prevents resizing type by inheritance */
    }
  html, body {
      height: 100%;
  }
  body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
  }
  input, button, textarea, select {
      font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
  }
  a:not([class]) {
      text-decoration-skip-ink: auto;
    }
  

/* Webflow resets */
.w-nav-brand, .w-nav-link, .w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link, .w-dropdown-list { /* remove WF default text colours and inherit instead */
    color: inherit;
    background-color: transparent;
}
.w-nav-link, .w-dropdown, .w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
    margin: 0px; /* WF applies auto margin */
    padding: 0px;
}
.wf-empty {
    outline: initial !important;
    outline-offset: initial !important;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    padding-bottom: 0px;
    padding-right: 0px;
    font-size: inherit;
    line-height: initial;
    vertical-align: initial;
}
