/* -- TYPOGRAPHY.CSS -- */

/* - Fonts - */

/* @import url("https://use.typekit.net/awd3jyt.css"); */

/* @import url('https://p.typekit.net/p.css?s=1&k=awd3jyt&ht=tk&f=24569.24570.24571.24572&a=15293701&app=typekit&e=css');
@font-face {
    font-family: 'filson-pro';
    src: url('https://use.typekit.net/af/56a426/0000000000000000000157c7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/56a426/0000000000000000000157c7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
            format('woff'),
        url('https://use.typekit.net/af/56a426/0000000000000000000157c7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
}
@font-face {
    font-family: 'filson-pro';
    src: url('https://use.typekit.net/af/fcca1c/0000000000000000000157c8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/fcca1c/0000000000000000000157c8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
            format('woff'),
        url('https://use.typekit.net/af/fcca1c/0000000000000000000157c8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}
@font-face {
    font-family: 'filson-pro';
    src: url('https://use.typekit.net/af/19c742/0000000000000000000157c9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/19c742/0000000000000000000157c9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('woff'),
        url('https://use.typekit.net/af/19c742/0000000000000000000157c9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}
@font-face {
    font-family: 'filson-pro';
    src: url('https://use.typekit.net/af/27caf4/0000000000000000000157ca/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/27caf4/0000000000000000000157ca/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
            format('woff'),
        url('https://use.typekit.net/af/27caf4/0000000000000000000157ca/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
} */
/* TO DO - what is this? */
.tk-filson-pro {
    font-family: 'filson-pro', sans-serif;
}

/* - Fluid type scale - */

/* heading and text sizes use a fluid type scale */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1280,16,1.25,6,3,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6|8|12,s-l&g=s,l,xl,12 */

:root {
    --step--3: clamp(0.51rem, calc(0.77rem + -0.32vw), 0.7rem);
    --step--2: clamp(0.64rem, calc(0.84rem + -0.25vw), 0.79rem);
    --step--1: clamp(0.8rem, calc(0.92rem + -0.15vw), 0.89rem);
    --step-0: clamp(1rem, calc(1rem + 0vw), 1rem);
    --step-1: clamp(1.13rem, calc(1.08rem + 0.21vw), 1.25rem);
    --step-2: clamp(1.27rem, calc(1.17rem + 0.49vw), 1.56rem);
    --step-3: clamp(1.42rem, calc(1.25rem + 0.88vw), 1.95rem);
    --step-4: clamp(1.6rem, calc(1.32rem + 1.4vw), 2.44rem);
    --step-5: clamp(1.8rem, calc(1.39rem + 2.08vw), 3.05rem);
    --step-6: clamp(2.03rem, calc(1.43rem + 2.98vw), 3.82rem);
}

/* set font sizes for each heading element and class, based on fluid scale. We also add a fallback value based on the max size of the clamp for that step */
.heading-xxl {
    font-size: var(--step-6, 3.82rem);
}
h1,
.heading-xl {
    font-size: var(--step-5, 3.05rem);
}
h2,
.heading-l {
    font-size: var(--step-4, 2.44rem);
}
h3,
.heading-m {
    font-size: var(--step-3, 1.95rem);
}
h4,
.heading-s {
    font-size: var(--step-2, 1.56rem);
}
h5,
.heading-xs {
    font-size: var(--step-1, 1.25rem);
}
h6,
.heading-xxs {
    font-size: var(--step-0, 1rem);
}

/* set font sizes for each text-size class */
.text-size-l {
    font-size: var(--step-2, 1.56rem);
    line-height: 1.2; /* also adjust line height since text is now large */
}
.text-size-m {
    font-size: var(--step-1, 1.25rem);
}
.text-size-reg {
    font-size: var(--step-0, 1rem);
}
.text-size-s {
    font-size: var(--step--1, 0.89rem);
}
.text-size-xs {
    font-size: var(--step--2, 0.79rem);
}
.text-size-xxs {
    font-size: var(--step--3, 0.7rem);
}

/* - Headings - */

/* define heading weights and line height */
h1,
h2,
h3,
h4,
h5,
h6,
[class^='heading-'] {
    font-family: filson-pro, Poppins, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* bold text in headings doesn't affect heading weight */
:is(h1, h2, h3, h4, h5, h6, [class^='heading-']) :is(strong, em) {
    font-weight: 500;
}

/* - Paragraphs - */

/* limit on text width */
p {
    max-width: 70ch;
}

/* - Links - /

/* links in headings inherit parent styling */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
[class^='heading-'] a {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

/* remove underlines from links on hover */
:is(a, .text-style-link):hover {
    text-decoration: none;
}

/* add underlines to links inside headings on hover */
:is(h1, h2, h3, h4, h5, h6, [class^='heading-']) a:hover {
    text-decoration: underline;
}

/* - Lists - */

/* custom bullet point color*/
li::marker {
    color: var(--color-accent);
}

/* - Quotes - */

blockquote,
.text-style-quote {
    border-left-color: var(--color-accent);
}

/* - Caps text - */

:root {
    --caps-weight: 500;
    --caps-line-height: 1;
    --caps-text-transform: uppercase;
    --caps-letter-spacing: 0.05em;
}
[class*='caps-'] {
    font-weight: var(--caps-weight);
    line-height: var(--caps-line-height);
    text-transform: var(--caps-text-transform);
    letter-spacing: var(--caps-letter-spacing);
}
.caps-l {
    font-size: var(--step-2, 1.56rem);
}
.caps-m {
    font-size: var(--step-0, 1rem);
}
.caps-s {
    font-size: var(--step--1, 0.89rem);
}
.caps-bold {
    font-weight: 700;
}
