/* -- UTILITIES.CSS -- */

/* hides from user, but not from screen readers */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* hide from all */
[hidden],
.hidden {
    display: none !important;
}

/* flow utility */

/* applies flow spacing to .flow and rich elements */
:where(.flow, .rich) > * + *:not(.no-flow),
:where(.flow, .rich) li + li, /* add flow between descendent list items */
.flow-all * + * /* add recursively to all descendents */ {
    margin-top: var(--flow-space, 1em);
}
/* define default flow-space */
.flow,
.flow-all,
.rich {
    --flow-space: 1em;
}
/* scaled flow-space */
.no-flow,
.flow-000 {
    --flow-space: 0px !important;
}
.flow-025 {
    --flow-space: 0.25em;
}
.flow-050 {
    --flow-space: 0.5em;
}
.flow-200 {
    --flow-space: 2em;
}
.flow-300 {
    --flow-space: 3em;
}
.flow-400 {
    --flow-space: 4em;
}
.flow-reset,
.flow-100 {
    --flow-space: 1em;
}
/* increase flow spacing above buttons to give greater separation from rest of content */
.button,
.button-row {
    --flow-space: 2em;
}
/* remove space above a button following another button */
:where(.flow, .rich, .flow-all) .button + .button {
    margin-top: 0px;
}
/* no-flow allows us to exclude specific elements */
.flow-reset-child * {
    --flow-space: 1em;
}

/* flow gap for horizontal layouts */
.row.flow-gap {
    gap: var(--flow-space, 1em);
}

/* full width element */
.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* no margin */
/* use with care */
.nomargin-top {
    margin-top: 0px !important;
}
.nomargin-bottom {
    margin-bottom: 0px !important;
}
.nomargin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* no pointer events */
.no-pointer-events {
    pointer-events: none;
}

/* relative */
.relative {
    position: relative;
}

/* absolute */
.absolute {
    position: absolute;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

/* overflow */
.u-overflow-auto {
    overflow: auto;
}
.u-overflow-visible {
    overflow: visible;
}
.u-overflow-hidden {
    overflow: hidden;
}
.u-overflow-scroll {
    overflow: scroll;
}
