/* styling for the item v2 component */

/* TEMP */
.item__metadata {
    position: static;
    display: block;
    --flow-space: 1em;
    margin-top: var(--flow-space, 1em);
}
.item__tags {
    position: static;
}
.item__inner {
    display: static; /* currently set to flex which prevents item__inner filling parent item */
}
.item__img-wrapper {
    height: unset;
    background: none !important;
}
.item {
    overflow: visible !important;
}

/* ****************** */
/* DEFAULTS */
/* ****************** */

.item {
    /* if item is not a direct child of grid then set item full height */
    height: var(--item-height);

    /* min height to avoid v small text only items */
    min-height: var(--item-min-height);

    /****** Default values for all item custom props. If no default needed custom prop is commented out ******/

    /* sizes */
    --item-height: 100%;
    --item-min-height: 120px;
    --item-min-height-bold: 320px;
    --item-min-height-muted: 120px;
    --item-min-height-basic: auto;

    /* styling */
    --overlay: none;
    --overlay-default: linear-gradient(
            30deg,
            rgb(9, 44, 60) 7%,
            rgba(9, 44, 60, 0.59) 41%,
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    --item-bg: var(--navy-005);
    --item-border: none;
    --border-default: 1px solid var(--navy-010);
    --item-type-size: var(--step--1);
    --heading-size: var(--step-1);

    /* inner grid */
    --inner-gap: var(--space-s);
    --inner-template-rows: auto;
    --inner-template-columns: auto;

    /* hide/show elements */
    /* NB there seems to be a CSS quirk whereby if we set the display property of an element with an empty custom prop, it renders as display: inline, even though it has a browser default of block - 
    EDIT - use of var() overrides browser's default user agent stylesheet for all elements - https://stackoverflow.com/questions/36291825/falling-back-to-good-default-value-when-a-css-custom-property-is-not-set */
    --img-display: block;
    --boxout-display: none;
    --header-display: block;
    --type-display: block;
    --heading-display: block;
    --metadata-display: block;
    --tag-display: none;
    --date-display: block;
    --location-display: none;
    --body-display: none;
    --links-display: none;
    --tags-display: none;

    /* content */
    /* --content-col: auto; */
    /* --content-row: auto; */
    /* --content-align-self: auto; */
    /* --content-order: 0; */
    /* --content-template-rows: auto; */

    /* metadata */
    /* --metadata-col: auto; */
    /* --metadata-row: auto; */
    /* --metadata-align-self: auto; */

    /* image */
    --img-ratio: 3 / 2;
    /* --img-col: auto; */
    /* --img-row: auto; */
    /* --img-order: 0; */

    /* boxout */
    --boxout-col: 1 / 2;
    --boxout-row: 1 / 2;
    --boxout-padding: 1rem;
    --boxout-height: 220px;

    /* content */
    --content-padding: var(--space-s);
}

.item__inner {
    height: 100%;

    /* prevent images from overflowing */
    overflow: hidden;

    /* grid */
    display: grid;
    gap: var(--inner-gap);
    grid-template-rows: var(--inner-template-rows);
    grid-template-columns: var(--inner-template-columns);

    /* wrap whole item in link - remove underlines from text and reset color to set style  */
    text-decoration: none;
    color: var(--color-text);

    /* styling */
    background: var(--item-bg);
    border: var(--item-border);

    /* interaction */
    transition: transform 0.25s;
}
.item__img-wrapper {
    /* default visibility */
    display: var(--img-display);

    /* default aspect ratio */
    aspect-ratio: var(--img-ratio);

    /* fill grid row */
    height: 100%;

    /* default grid placement in first row */
    grid-column: var(--img-col) !important;
    grid-row: var(--img-row) !important;
    align-self: end; /* is this needed? */
    order: var(--img-order);

    /* hide image wrapper if image not set */
}
.item__img-wrapper::after {
    /* overlay if boxout on top of img */
    content: '';
    position: absolute;
    inset: 0px;
    background: var(--overlay);
    pointer-events: none;
}
.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item__boxout {
    /* default visibility */
    display: var(--boxout-display);

    /* aspect ratio should be same as main img unless otherwise specified, as boxout normally sits directly above main img */
    aspect-ratio: var(--img-ratio);

    /* default grid placement in first row */
    grid-column: var(--boxout-col) !important;
    grid-row: var(--boxout-row) !important;

    /* center boxout child img */
    justify-content: center;
    align-items: center;
    padding: var(--boxout-padding);
}
.item__boxout-img {
    /* set preferred sizes on the child image. NB this is a bit of a magic number */
    height: var(--boxout-height);
}
.item__content {
    /* styling */
    padding: var(--content-padding);

    /* grid placement */
    grid-column: var(--content-col) !important;
    grid-row: var(--content-row) !important;
    align-self: var(--content-align-self);
    order: var(--content-order);

    /* grid */
    display: grid;
    grid-template-rows: var(--content-template-rows);

    /* z-index to lift above image */
    z-index: 10;
}
.item__header {
    /* default visibility */
    display: var(--header-display);
}
.item__type {
    /* default visibility */
    display: var(--type-display);

    /* set to caps style */
    font-weight: var(--caps-weight);
    line-height: var(--caps-line-height);
    text-transform: var(--caps-text-transform);
    letter-spacing: var(--caps-letter-spacing);
    font-size: var(--item-type-size);
    color: var(--color-accent);
}
.item__heading {
    /* default visibility */
    display: var(--heading-display);

    /* reduce space between eyebrow and heading */
    --flow-space: 0.25em;

    /* styling */
    font-size: var(--heading-size);
    text-decoration: underline 2px transparent;

    /* hover interaction */
    transition: text-decoration-color 300ms;
}
.item__metadata {
    /* default visibility */
    display: var(--metadata-display);

    /* grid placement */
    grid-column: var(--metadata-col);
    grid-row: var(--metadata-row);
    align-self: var(--metadata-align-self);
}
.item__tag {
    /* default visibility */
    display: var(--tag-display);
}
.item__date {
    /* default visibility */
    display: var(--date-display);
}
.item__location {
    /* default visibility */
    display: var(--location-display);
}
.item__body {
    /* default visibility */
    display: var(--body-display);
}
.item__desc {
    /* default visibility */
}
.item__links {
    /* default visibility */
    display: var(--links-display);

    /* restore color */
    color: var(--color-accent);
}
.item__tags {
    /* default visibility */
    display: var(--tags-display);
}

/* INTERACTION */
.item:hover .item__heading {
    text-decoration-color: var(--color-accent);
}
.item:hover .item__inner {
    transform: translateY(-4px);
}
.item:hover .arrow-link::after {
    transform: translate(0.5em, 0em);
}

/* ****************** */
/* DEFAULT SETTINGS BY ITEM TYPE */
/* ****************** */

.item[data-tam-item-type='article'] {
    /* show body */
    --body-display: block;

    /* image to bottom */
    --img-order: 3;

    /* date to bottom and take all spare space */
    --metadata-row: 3 / 4;
    --metadata-align-self: end;
    --content-template-rows: auto auto 1fr auto;

    /* make content row take all spare space */
    --inner-template-rows: 1fr auto;

    /* A note on responsive layouts here. Ideally we'd set something like: 
    --inner-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    ...which would allow us to swap to a horizontal layout (image next to content) rather than vertical, when there is sufficient horizontal space.
    However, because we define 2 rows with --inner-template-rows, even if both image and content elements are placed horizontally in a single row, we are still defining a second empty row, and thus an extra gap appears at the bottom of .item__inner. 
    (We have to define both --inner-template rows to achive the "flex-grow effect" that pushes the metadata down and keeps all images at the same height)
    We could instead consider container queries to allow for horizontal layouts when there's enough space.
    */
}

.item[data-tam-item-type='article'][data-tam-item-appearance='bold'] {
    /* increase item size */
    --item-min-height: var(--item-min-height-bold);

    /* place image behind content */
    --img-col: 1 / 2;
    --img-row: 1 / 2;
    --content-col: 1 / 2;
    --content-row: 1 / 2;
    /* --inner-template-rows: auto; */

    /* remove aspect ratio to avoid overflow */
    --img-ratio: unset;

    /* push content to bottom */
    --content-align-self: end;

    /* add overlay */
    --overlay: var(--overlay-default);

    /* change text colors to dark style */
    --item-bg: var(--color-dark-bg);
    --color-heading: var(--color-dark-heading);
    --color-text: var(--color-dark-text);
    --color-accent: var(--color-dark-accent);

    /* increase heading size */
    --heading-size: var(--step-2);

    /* show links */
    --links-display: block;
}

.item[data-tam-item-type='article'][data-tam-item-appearance='muted'] {
    /* no image */
    --img-display: none;
    --item-bg: transparent;

    /* styling */
    --item-border: var(--border-default);
    --item-bg: none;

    /* content expand to fill */
    --inner-template-rows: 1fr;
}

.item[data-tam-item-type='article'][data-tam-item-appearance='basic'] {
    /* no image */
    --img-display: none;
    --item-bg: transparent;
    /* no body */
    --body-display: none;

    /* all content sits at top naturally and item is size of content */
    --inner-template-rows: min-content;
    --content-template-rows: min-content;
    --metadata-align-self: start;
    --item-height: auto;
    --content-padding: 0px;
    --item-min-height: var(--item-min-height-basic);
}

.item[data-tam-item-type='event'] {
    /* show location */
    --location-display: block;

    /* show link */
    --links-display: block;

    /* content fill spare space */
    --inner-template-rows: auto 1fr;

    /* make header fill spare space to push metadata and link to bottom */
    --content-template-rows: 1fr auto auto;
}
.item[data-tam-item-type='event'][data-tam-item-appearance='muted'] {
    /* hide image */
    --img-display: none;

    /* styling */
    --item-border: var(--border-default);
    --item-bg: none;

    /* content fill item */
    --inner-template-rows: 1fr;
}

.item[data-tam-item-type='event'][data-tam-event-style='flagship'] {
    /* make style dark */
    --item-bg: var(--color-dark-bg);
    --color-heading: var(--color-dark-heading);
    color: var(--color-dark-text);
    --color-accent: var(--color-dark-accent);
}

.item[data-tam-item-type='report'] {
    /* hide image */
    --img-display: none;

    /* show boxout */
    --boxout-display: flex;

    /* styling */
    --overlay: var(--overlay-default);

    /* fixed size of boxout row, content takes remainder */
    --inner-template-rows: auto 1fr;

    /* date sits at bottom of item */
    --metadata-align-self: end;

    /* no gap to tighten up spacing */
    --inner-gap: 0px;
}
.item[data-tam-item-type='report'][data-tam-item-appearance='bold'] {
    /* increase item size */
    --item-min-height: var(--item-min-height-bold);

    /* show image and place behind everything */
    --img-display: block;
    --img-row: 1 / 3;
    --img-col: 1 / 2;
    --content-row: 2 / 3;
    --content-col: 1 / 2;

    /* remove aspect ratio to avoid overflow */
    --img-ratio: unset;

    /* change text colors to dark style */
    --item-bg: var(--color-dark-bg);
    --color-heading: var(--color-dark-heading);
    --color-text: var(--color-dark-text);
    --color-accent: var(--color-dark-accent);

    /* increase heading size */
    --heading-size: var(--step-2);

    /* show links */
    --links-display: block;
}

.item[data-tam-item-type='person'] {
    --img-ratio: 1 / 1;
    --img-display: block;
}

.item[data-tam-item-type='video'] {
}

.item[data-tam-item-type='session'] {
}

.item[data-tam-item-type='leadership-council'] {
    /* increase item size */
    --item-min-height: 240px;

    --body-display: block;
    --links-display: block;

    /* styling */
    --item-bg: var(--sand);
    --heading-size: var(--step-2);

    /* pin link (3rd row) to bottom */
    --content-template-rows: min-content min-content 1fr;

    /* horizontal layout - try to fit image and content next to each other, with a min width of 10rem */
    --inner-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

/****** OTHER  ********/

/* EVENTS - hide date if date override set (experimental, as we cannot use conditional display on components in collection lists) */
.item[data-tam-date-override]:not([data-tam-date-override=''])
    .item__date
    > :first-child {
    display: none;
}

/* Hide images if not set */
:is(.item__img, .item__boxout-img)[src*='placeholder'] {
    display: none;
}
:is(.item__img-wrapper, .item__boxout):has([src*='placeholder']) {
    display: none;
}

/****** NOTES ********/
/*
custom attributes: 

data-tam-item-type = report/event/person/session/article/video/case
data-tam-item-appearance = bold/(default)/muted/basic

TODO:
- how to restructure e.g. report items so the item is arrange horizontally with the images on the RHS?

Terminology:

appearances
bold > default > muted > basic
- default
    - normally image and summary present
- bold
    - image placed in backdrop with overlay
- muted
    - no image
- basic
    - no summary, just heading

other variants
- flagship (event)
    - a way of highlighting a certain event
- featured (article, report)
    - highlighting specific items

other word ideas
- spotlight
- highlighted
- subdued
- minimal
- essential
- basic
- striking
- showcased
- flaunt
- prominent
- illuminated
- strong, bold


*/

/****** GENERAL ******/
/* we need to apply this class where the style changes in a very local context - e.g. the .hero__content. Otherwise the style color custom props (--color-bg etc) are already locked in and cannot be modified  */
.style-willchange {
    color: var(--color-text);
    background-color: var(--color-bg);
}
/****** ******/

/* for flagship events, set page to dark style */
.page[data-tam-event-style='flagship'] {
    --color-bg: var(--color-dark-bg);
    --color-heading: var(--color-dark-heading);
    --color-text: var(--color-dark-text);
    --color-accent: var(--color-dark-accent);
}

/* for flagship events, change styling of hero and extend color block to edge of screen */
.page:not([data-tam-event-style='flagship']).event-hero {
    /* TODO - improve this */
    background-color: var(--color-pale-bg);
}
.page[data-tam-event-style='flagship'] .hero__content {
    position: relative;
    z-index: 1;
    /* loud style */
    --color-bg: var(--color-loud-bg);
    --color-heading: var(--color-loud-heading);
    --color-text: var(--color-loud-text);
    --color-accent: var(--color-loud-accent);
}
.page[data-tam-event-style='flagship'] .hero__content:before {
    height: 100%;
    content: '';
    background-color: var(--color-bg);
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: max(calc(100vw - var(--grid-max-width)), var(--grid-gutter));
    z-index: -1;
}
.page[data-tam-event-style='flagship'] .event-hero {
    padding-top: var(--space-l-xl);
    padding-bottom: var(--space-l-xl);
}

/* for default/flagship events, hide flagship/default intro sections */
/* TODO TEMP */
.page:not([data-tam-event-style='flagship']) #intro-flagship {
    display: none;
}
.page[data-tam-event-style='flagship'] #intro-default {
    display: none;
}
