/* temp CSS added for member portal page */

/* report items using attributes and grid */
.item[data-tam-item-type='report'] {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
}
/* by default, image and boxout are full width and first row */
.item[data-tam-item-type='report'] :is(.item__boxout, .item__img-wrapper) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
/* by default, content is full width and second row */
.item[data-tam-item-type='report'] .item__content {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}
/* if featured, img is all rows */
.item[data-tam-item-type='report'][data-tam-item-appearance='featured']
    .item__img-wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}
.item[data-tam-item-type='report'][data-tam-item-appearance='featured']
    .item__boxout-img {
    height: 300px;
}
/* if feat, on large screens, content is next to boxout */
@media only screen and (min-width: 992px) {
    .item[data-tam-item-appearance='featured'][data-tam-item-type='report'] {
        grid-template-columns: 2fr 1fr;
    }
    .item[data-tam-item-appearance='featured'][data-tam-item-type='report']
        .item__content {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .item[data-tam-item-appearance='featured'][data-tam-item-type='report']
        .item__boxout {
        grid-column: 2 / 3;
    }
}

/* when using mobile nav, apply same inline spacing as page wrapper */
@media (max-width: 991px) {
    .page-nav__list-item {
        padding-inline: var(--grid-gutter);
    }
}
